.card {
  width: 100%;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__title {
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
}

.card__content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-btn {
  background-image: url(../images/Union.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: color 0.5s ease-in-out;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card {
    width: 100%;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 1;
    text-overflow: ellipsis;
  }

  .card__like-btn {
    width: 22px;
    height: 17px;
    margin-right: 5px;
    background-size: contain;
  }

  .card__content {
  }
}
