.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  right: 50px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 0.7;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  color: #212121;
  padding: 16px 12px;
}

.modal__input::placeholder {
  color: #2121214d;
  font-weight: 500;
  font-size: 20px;
}

.modal__submit-btn {
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  max-width: 156px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 12px;
    gap: 24px;
    background-color: #00000080;
    position: fixed;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .modal__container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

  .modal__form {
    width: 100%;
  }

  .modal__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .modal__close-btn {
    right: 20px;
    top: 10px;
    width: 40px;
    height: 40px;
  }

  .modal__input {
    margin: 8px 0 0;
    padding: 16px 12px;
    width: 100%;
    box-sizing: border-box;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}
