.modal {
  opacity: 0;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s linear 0.3s;
  pointer-events: none;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out, visibility 0.3s linear 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  right: 50px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  opacity: 40%;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  color: #212121b3;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  color: #21212166;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
}

.modal__input:hover {
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  padding: 18px 32px;
  border-radius: 8px;
  border: 0;
  background-color: #212121;
  color: #fcf5e5;
  max-width: 156px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__submit-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 12px;
    gap: 24px;
    max-width: 100%;
  }

  .modal__container {
    width: 100%;
    padding: 22px 12px 12px;
  }

  .modal__form {
    width: 100%;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    right: 20px;
    top: 10px;
  }

  .modal__input {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}
