.footer {
  background-color: #fcf5e5;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
}
